.ItemEditor {
    height: 100%;
    border-left: 1px solid #ccc;
    width: 300px;

    .form-item-wrapper {
        padding: 10px 0;
    }
}

.panel {
    display: flex;
    flex-direction: column;

    .panel-header {
        padding: 15px;
        font-weight: bold;
    }

    .panel-body {
        flex: 1;
        padding: 15px;
    }

    .panel-footer {
        padding: 15px;
        text-align: right;

        button {
            margin-right: 10px;
        }
    }
}